@charset "utf-8";.main{padding:50px
0px}.main
.icon{width:136px;height:136px;background:url('../../images/mobile_fail.png?111') no-repeat;margin:0px
auto}.main
.title{font-size:30px;color:#757575;font-weight:normal;margin-top:40px;text-align:center}.main
.content{text-align:center;font-size:16px;color:#757575;font-weight:normal;margin-top:50px}.main
.btns{margin-top:40px;text-align:center}.main
.btn_green{width:200px;height:40px;line-height:40px;display:inline-block}